<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>La Casa</title>
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="La casa free real state fully responsive html5/css3 home page website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	
	{% include 'components/_styles.html' %}

	{% include 'components/_scripts.html' %}
</head>
<body>

	<section class="hero">
		<header>
			<div class="wrapper">
				<a href="{% url 'home_page' %}"><img src="{% static 'img/logo.png' %}" class="logo" alt="" titl=""/></a>
				<a href="#" class="hamburger"></a>
				<nav>
					<ul>
						<li><a href="#">Buy</a></li>
						<li><a href="#">Rent</a></li>
						<li><a href="#">Sell</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<a href="#" class="login_btn">Login</a>
				</nav>
			</div>
		</header><!--  end header section  -->

			<section class="caption">
				<h2 class="caption">Find You Dream Home</h2>
				<h3 class="properties">Appartements - Houses - Mansions</h3>
			</section>
	</section><!--  end hero section  -->



<section class="listings">
    <div class="wrapper">
        <ul class="properties_list">
            
            {% for home in homes %}
            <li>
                <a href="{% url 'detail' home.id  %}">
                    <img src="{{ home.image.url }}" alt="" title="" class="property_img"/>
                </a>
                <span class="price">{{home.category.name}}</span>
                <div class="property_details">
                    <h1>
                        <a href="{% url 'detail' home.id  %}">{{home.title| truncatewords:2}}</a>
                    </h1>
                    <h3><h3><span>${{home.price}}</span></h3></h3>
                    <h2>{{home.description| truncatewords:10}}</h2>
                </div>
            </li>
            {% endfor %}
            
        </ul>
        <div class="more_listing">
            <a href="{% url 'home_page' %}" class="more_listing_btn">Backe</a>
        </div>
    </div>
</section>

	


	
	<footer>
		<div class="wrapper footer">
			<ul>
				<li class="links">
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Policy</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">Appartements</a></li>
						<li><a href="#">Houses</a></li>
						<li><a href="#">Villas</a></li>
						<li><a href="#">Mansions</a></li>
						<li><a href="#">...</a></li>
					</ul>
				</li>

				<li class="links">
					<ul>
						<li><a href="#">New York</a></li>
						<li><a href="#">Los Anglos</a></li>
						<li><a href="#">Miami</a></li>
						<li><a href="#">Washington</a></li>
						<li><a href="#">...</a></li>
					</ul>
				</li>

				<!-- <li class="about">
					<p>La Casa is real estate minimal html5 website template, designed and coded by pixelhint, tellus varius, dictum erat vel, maximus tellus. Sed vitae auctor ipsum</p>
					<ul>
						<li><a href="http://facebook.com/pixelhint" class="facebook" target="_blank"></a></li>
						<li><a href="http://twitter.com/pixelhint" class="twitter" target="_blank"></a></li>
						<li><a href="http://plus.google.com/+Pixelhint" class="google" target="_blank"></a></li>
						<li><a href="#" class="skype"></a></li>
					</ul>
				</li> -->
			</ul>
		</div>

		
	</footer><!--  end footer  -->
	
</body>
</html> 